# Upstash Redis credentials (automatically added when connecting Upstash Redis in Vercel Storage)
KV_REST_API_URL=
KV_REST_API_TOKEN=

# Secret key used for authenticating requests from stations and the dashboard
API_KEY=triwave_secret_key
